<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Formation</title>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link"
				href="/formation-web-spring-th/stagiaire">Stagiaires</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/formation-web-spring-th/formateur">Formateurs</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/formation-web-spring-th/evaluation">Evaluations</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/formation-web-spring-th/module">Modules</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/formation-web-spring-th/filiere">Filieres</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/formation-web-spring-th/matiere">Matieres</a></li>
		</ul>
	</nav>

	<div class="container">
		<section layout:fragment="custom-content"></section>
	</div>
</body>
</html>